{% extends "usuarios/base.html" %}

{% block title %}Clinic Connect - Agendamentos{% endblock title %}

{% block content %}
    <h2 class="text-center">Lista de Agendamentos</h2>
    <a href="{% url 'agendar_procedimento' %}">Novo Agendamento</a> 
    <table class="table table-striped table-bordered">
        <tr>
            <th>Paciente</th>
            <th>Procedimento</th>
            <th>Data e Hora</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for agendamento in agendamentos %}
        <tr>
            <td>{{ agendamento.paciente.nome }}</td>
            <td>{{ agendamento.procedimento.nome }}</td>
            <td>{{ agendamento.data_horario }}</td>
            <td>{{ agendamento.status }}</td>
            <td>
                <a href="{% url 'editar_agendamento' agendamento.id%}"class="btn btn-warning btn-sm">Editar</a>
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">Nenhum agendamento encontrado.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
